.img-container {
  width: 50%;
  margin: 0 auto;
  padding: 60px 0;
}

.socials-container {
  display: flex;
  justify-content: space-evenly;
}

.contacto-img {
  min-width: 450px;
  min-height: 250px;
  border-radius: 12px;
}

/* Media querys */

@media (width >= 500px) and (width <= 750px) {
  .img-container {
    width: 100%;
  }
}

@media (width <= 500px) {

  .img-container {
    width: 100%;
  }
  .contacto-img {
    min-width: 0;
  }
}