.img-header {
  width: 100vw;
  height: 30vh;
  object-fit: fill;
}

.header-title {
  display: flex;
  width: 100%;
  position: absolute;
  justify-content: center;
}

.title-text {
  position: absolute;
  color: rgb(241, 241, 196);
  margin: 12vh 35%;
}
